selenium>=4.1.0
gevent>=21.12.0
fire>=0.4.0
numpy>=1.22.1
requests>=2.27.1
loguru>=0.5.3
colorama>=0.4.4
pytz>=2021.3
pyyaml>=6.0
cloudscraper>=1.2.58
bs4>=0.0.1
beautifulsoup4>=4.10.0
lxml>=4.7.1
apscheduler>=3.8.1

# 目标检测模块强依赖版本
opencv-python==4.5.3.56

# 提升驱动稳定性与隐蔽性的必要依赖
webdriver_manager
undetected_chromedriver

# 国内网络使用代理，跳过 `tls in tls` 认证
urllib3==1.25.11