services:
  epic-awesome-gamer:
    image: ghcr.io/qin2dim/epic-awesome-gamer:latest
    restart: always
    container_name: epic-awesome-gamer
    env_file:
      - .env
    volumes:
      - "./volumes/user_data/:/app/app/user_data"
      - "./volumes/logs/:/app/app/logs"
      - "./volumes/runtime/:/app/app/runtime"
    entrypoint: [ "/usr/bin/tini", "--" ]
    command: xvfb-run --auto-servernum --server-num=1 --server-args='-screen 0, 1920x1080x24' uv run app/deploy.py
