name: ci

on:
  workflow_dispatch:
  push:
    branches:
#      - update-challenge
      - main
    paths-ignore:
      - ".github/**"
      - "README.md"
      - "LICENSE"
      - ".gitignore"
      - ".deepsource.toml"
env:
  IMAGE_TAG: ${{ secrets.DOCKERHUB_USERNAME }}/awesome-epic:fish

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Scaffold Init
        run: cd src && echo '{}' > config.json
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64 # linux/arm64
          push: true
          tags: ${{ env.IMAGE_TAG }}
